@import '../../styles/settings.scss';

.columnForm {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 100%;
    max-width: 400px;
    text-align: left;
}

input {
    margin-top: 6px;
}